# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
pom.com.learn.common.xml.tag
pom.com.learn.common.xml.releaseBackup
pom.com.learn.common.xml.versionsBackup
pom.com.learn.common.xml.next
release.properties
dependency-reduced-pom.com.learn.common.xml
buildNumber.properties
.mvn/timing.properties

.idea/

## File-based project format:
*.iws
*.iml
*.ipr

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.com.learn.common.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.com.learn.common.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

